# Virtual environment
.venv

# Checkpoint and cache
__pycache__
.ipynb_checkpoints

# Output files
*.csv
*.xlsx

# Jupyter notebook
rapid_test.ipynb

# Output folders
export_xl
scrapped_csv

# Test Python file
test.py